[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AddiVortes"]
	path = AddiVortes
	url = https://github.com/johnpaulgosling/addivortes
